@media only screen and (min-width: 900px){
  main {
    position: relative;
    max-width: 80vw;
  }

  #profile__img {
 
    flex-flow: row;
    right: 8rem;
    bottom: 20rem;
    top: -20rem;
  }
  ul {
    max-width: 50vw;
  }
}

@media only screen and (min-width: 300px) {
  main {
    margin-top: 8rem;
  }

  #profile__img {
    flex-flow: row;
    right: 8rem;
    bottom: 20rem;
    top: -20rem;
  }
  .list__item {
    padding: 0.rem;
    margin-top: 1.5rem;
    display: block;
    border: 1px solid rgba(63, 61, 61, 0.062);
    cursor: pointer;
  }
  .line__icon {
    margin-top: 2rem;

  }
}