:root {
    --txt__color: #6c4f39;
    --bg__txtcolor: #b4b7bfc6;
    --bg__txtcolor_hover: #9c9c9caa;
  }
  body, html {
    overflow: hidden;
  }

  * {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    list-style-type: none;
    color: var(--txt__color);
    font-family: "Open Sans", sans-serif;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    line-height: 1rem;
    align-items: center;
    padding: 0;
    background: #F2D1B3;
  }

  main {
    position: relative;
    margin-top: 8rem;
    border-radius: 20px 20px 0px 0px;
    width: 100vw;
    height: 85vh;
    background-color: rgb(255, 255, 255);
  }

  h1 {
    font-weight: 100;
    margin-top: 9rem;
  }

  h4 {
    font-weight: 100;
    margin-top: 1rem;
  }

  #profile__img {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -4rem;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
  }

  ul {
    width: 70vw;
  }

  a {
    text-decoration: none;
    color: var(--txt__color);
  }
  .line__icon {
    display: inline-flex;
    margin-top: 3rem;
    font-size: x-large;
  }

  .list__item {
    box-shadow: 3px 2px 8px rgba(159, 159, 159, 0.503);
    padding: 0.8rem;
    margin-top: 2em;
    display: block;
    border: 1px solid rgba(63, 61, 61, 0.062);
    cursor: pointer;
  }

  .list__item:active {
    background: rgba(170, 170, 170, 0.454);
    transform: scale(1.3);
  }

  .slider-container{
    width: 60vw;
  }

  dialog {
    width: 80vw;
    border: none;
    box-shadow: 1px 5px 10px black;
    border-radius: 5px;
    padding: 25px;
  }

  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.734);
  }

  .home__button {
    position: absolute;
    top: -3px;
    left: 2px;
    margin: 6px;
    padding: 4px;
    border: none;
  }

  .home__button:active {
    transform: scale(1.3);
  }

/* Media Queries para telas grandes */
@media (min-width: 900px) {

  .container{
    height: 100vh;
  }
  main {
    margin: 5rem auto;
    border-radius: 30px;
    width: 40%;
    max-width: 1200px;
  }

  h1 {
    font-size: 2.5em;
    margin-top: 1rem;
  }

  h4 {
    font-size: 1.5em;
    margin-top: 1.5rem;
  }

  #profile__img {
    position:static;
    width: 15rem;
    height: 15rem;
    margin-top: 1rem;
  }

  ul {
    width: 60%;
  }

  .line__icon {
    font-size: xx-large;
  }

  .list__item {
    padding: 1rem;
    margin-top: 2.5em;
    font-size: 1.2em;
  }

  .slider-container {
    width: 50%;
  }

  dialog {
    width: 60%;
    padding: 30px;
  }

  .home__button {
    top: -5px;
    left: 5px;
  }

  .home__button:active {
    transform: scale(1.2);
  }
}