:root {
    --txt__color: #6c4f39;
    --bg__txtcolor: #b4b7bfc6;
    --bg__txtcolor_hover: #9c9c9caa;
  }

  * {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    list-style-type: none;
    color: var(--txt__color);
    font-family: "Open Sans", sans-serif;
    scrollbar-width: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    line-height: 2rem;
    align-items: center;
    padding: 0;
    background: url(img/pexels-doouglasma-18279011.jpg) no-repeat ;
    background-attachment: fixed;
    background-size: cover;
  }

  main {
    position: relative;
    margin-top: 10rem;
    border-radius: 20px 20px 0px 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.897);
  }

  h1 {
    font-weight: 100;
    margin-top: 9rem;
  }

  .greetings__txt {
    margin-top: 3rem;
    font-size: 2rem;
    color: rgb(185, 228, 185);
  }

  h4 {
    font-weight: 100;
    margin-top: 1rem;
  }

  #profile__img {
    position: absolute;
    left: 8rem;
    top: -3rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    scale: 1.5rem;
    border: 2px solid rgba(255, 255, 255, 0.74);
  }

  #profile__img:hover {
    transform: scale(1.1);
    transition: 0.4s;
    background-color: rgba(255, 255, 255, 0.351);
  }

  ul {
    width: 60vw;
  }

  a {
    text-decoration: none;
    color: var(--txt__color);
  }
  .line__icon {
    display: inline-flex;
    margin-top: 3rem;
    font-size: x-large;
  }

  .list__item {
    box-shadow: 3px 2px 8px rgba(159, 159, 159, 0.503);
    padding: 0.8rem;
    margin-top: 2em;
    display: block;
    border: 1px solid rgba(128, 128, 128, 0.264);
    cursor: pointer;
  }

  .list__item:active {
    background: rgba(170, 170, 170, 0.454);
    transform: scale(1.3);
  }

  dialog {
    width: 70vw;
    border: none;
    box-shadow: 1px 5px 10px black;
    border-radius: 5px;
    padding: 25px;
  }

  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.734);
  }

  .home__button {
    position: absolute;
    top: -3px;
    left: 2px;
    margin: 6px;
    padding: 4px;
    border: none;
  }

  .home__button:active {
    transform: scale(1.3);
  }